<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <p>This is a sample HTML template using EJS in Node.js.</p>
  </body>
</html>
